{% extends "base.html" %}
{% block title %}Sample1 {{ block.super }}{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center my-5">会員一覧</h1>
  <div class="row">
    <div class="col">
      <table>
        <th>No.</th>
        <th>名前</th>
        <th>保存先</th>
        {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td><a href="{% url 'Rt_app:user' id=user.id %}">{{user.name}}</a></td>
          <td><a href="{{ user.picture.url }}">{{ user.picture }}</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock%}