<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf=8" />
    <title>{% block title %}放射線治療_解析アプリ{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'accounts:home'%}">放射線治療_解析アプリ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">データ解析</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'analytics:post_memo' user_id=request.user.id %}">解析メモ<span class="sr-only">(current)</span></a>
              <a class="dropdown-item" href="{% url 'analytics:create_rtdata' %}">解析データ登録<span class="sr-only">(current)</span></a>
              <a class="dropdown-item" href="{% url 'analytics:list_rtdatas' %}">解析データ一覧<span class="sr-only">(current)</span></a>
            </div>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            {% if user.is_authenticated %}
              <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">設定</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'accounts:user' pk=request.user.id %}">マイページ<span class="sr-only">(current)</span></a>
                {% comment %} <a class="dropdown-item" href="{% url 'accounts:user_edit' %}">ユーザ情報更新<span class="sr-only">(current)</span></a> {% endcomment %}
                <a class="dropdown-item" href="{% url 'accounts:user_logout' %}">ログアウト<span class="sr-only">(current)</span></a>
              </div>
            {% else %}
              <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">登録 or ログイン</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'accounts:user_login' %}">ログイン<span class="sr-only">(current)</span></a>
                <a class="dropdown-item" href="{% url 'accounts:regist' %}">ユーザ登録<span class="sr-only">(current)</span></a>
              </div>
            {% endif %}
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">create_app</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'analytics:toridog_redirect_view' %}">ToriDog<span class="sr-only">(current)</span></a>
              </div>
          </li>
          <li class="nav-item active">
            {% if request.user.is_anonymous %}
              <a class="nav-link">***** 未ログイン *****<span class="sr-only">(current)</span></a>
            {% else %}
              <a class="nav-link">{{ request.user }}さんがログイン中です <span class="sr-only">(current)</span></a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>© 2022 arima</p>
          </div>
        </div>
      </div>
    </footer>
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
