{% extends "base.html" %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div>{{ message.message }}</div>
  {% endfor %}
{% endif %}
<div class="container">
    <h1 class="text-center my-5">{{object.region}}の詳細画面</h1>
  <div class="row justify-content-center">
      <table>
        <ul>
          <li>照射部位: {{object.region}}</li>
          <li>plandata: {{object.plandatas.plandata }}</li>
          <li>stracturedata: {{object.stracturedatas.stracturedata }}</li>
          <li>ctdata:<br>
            {% for data in ctdata %}
              {{ data.ctdata }}<br>
            {% endfor %}
          </li>
        </ul>
      </table>
    </form>
  </div>
</div>
{% endblock %}