{% extends "base.html" %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div>{{ message.message }}</div>
  {% endfor %}
{% endif %}
<div class="container">
    <h1 class="text-center my-5">{{object.region}}の詳細画面</h1>
  <div class="row justify-content-center">
      <table>
        <ul>
          <li>照射部位<br>
            {{object.region}}
          </li><hr>
          <li>plandata<br>
            {{object.plandatas.plandata }}
          </li><hr>
          <li>stracturedata<br>
            {{object.stracturedatas.stracturedata }}
          </li><hr>
          <li>ctdata<br>
            {% for data in object.ctdatas_set.all %}
              {{ data.ctdata }}<br>
            {% endfor %}
          </li><hr>
        </ul>
      </table>
    </form>
  </div>
</div>
{% endblock %}