{% extends "base.html" %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div>{{ message.message }}</div>
  {% endfor %}
{% endif %}
<div class="container">
    <h1 class="text-center my-5">RTデータ一覧画面</h1>
  <div class="row justify-content-center">
    <p><a class="navbar-brand" href="{% url 'analytics:create_rtdata' %}">データの新規作成</a></p>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>照射部位</th>
          <th>データ挿入者</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{{ object.get_absolute_url }}">{{ object.region }}</a></td>
            <td>{{  object.user }}</td>
            {% if  object.user.id == user.id %}
              <td><a href="{% url 'analytics:edit_rtdata' object.id %}">編集</a></td>
              <td><a href="{% url 'analytics:delete_rtdata' object.id %}">削除</a></td>
            {% else %}
              <td></td>
              <td></td>

            {% comment %} <td>
                {% for picture in object.pictures_set.all %}
                    <img width="20px" height="20px" src={{ picture.picture.url }}>
                {% endfor %}
            </td> {% endcomment %}
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}