{% extends "base.html" %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div>{{ message.message }}</div>
  {% endfor %}
{% endif %}
<div class="container">
  <h1 class="text-center my-5">MCS算出</h1>
  <h5 class="text-center my-5">データ数 : {{ object_list.count }}</h5>
  <h5 class="text-center my-5">
    <form method="get" action="{% url 'analytics:jtcs'%}">
      <p>※算出リストを絞る場合は、フォームに検索内容を入力後、算出をクリックしてください</p>
      <p>照射部位 : <input type="text" name="region" value="{{region}}"></p>
      <p>作成者 : <input type="text" name="author" value="{{author}}"></p>
      <p><input type="submit" value="算出"></p>
    </form>
  </h5>
  <div class="row justify-content-center">
    <div class="col-6">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>照射部位</th>
            <th>作成者</th>
            <th>作成日</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{{ object.get_absolute_url }}">{{ object.region }}</a></td>
              <td>{{  object.user }}</td>
              <td>{{  object.create_at|date:"Y.m.j"}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>MCS</th>
          </tr>
        </thead>
        <tbody>
          {% for object in mcs %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ object }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}