  <form method="{% if method %}{{ method }}{% else %}POST{% endif %}" action="{% if action %}{{ action }}{% endif %}" >
  {% csrf_token %}
  <p style="color:red;">{{ form.non_field_errors}}</p>
  {% if form.errors %}
    {% for key, value in form.errors.items %}
      {% if key != '__all__' %}
        <p style="color:red;">{{key}}:{{value.as_text}}</p>
        {% endif %}
    {% endfor %}
  {% endif %}
  {% if as_table %}
    <table>
      {{form.as_table}}
    </table>
  {% elif as_ul %}
    {{ form.as_ul }}
  {% else %}
    {{ form.as_p }}
  {% endif %}
    <input type="submit" value="送信">
  </form>